* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}

header,
footer {
    padding: 16px 0;
    background-color: black;
}

header .container img{
    height: 50px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li {
    display: inline-block;
    position: relative;
}

header nav li a{
    color:#fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
}

.dropdown-menu{
    position: absolute;
    left: 0;
    display: none;
}

header nav li a,
.dropdown-menu a{
    display: block;
    color: #fff;
    border: 1px solid black;
    padding: 10px;
    background-color: black;
    width: 150px;
}

.dropdown:hover .dropdown-menu{
    display: block;
    position: absolute;
    z-index: 999;
}

.dropdown-menu:hover #about-movie{
    z-index: -1;
}

header nav li a:hover,
.dropdown-menu li a:hover{
    background-color: #fff;
    color: black;
}

section {
    height: 500px;
    padding: 24px 0px;
    overflow: hidden;
    position: relative;
}

section .container{
    align-items: flex-start;
}

#about-movie{
    background-color: rgba(55, 55, 160, 0.329);
}

#about-movie .container .paragrafo,
#about-movie .container.paragrafo2{
    display: inline-block;
}

#about-movie img{
    box-shadow: 11px 11px 13px rgba(0, 0, 0, 0.479);
}

section h1,
section h2{
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}

section h1{
    margin-bottom: 24px;
}

section h2{
    font-size: 20px;
}

.container img{
    height: 400px;
}

.poster{
    max-width: 1280px;
    height: 800px;
    margin: 0 auto;
}

.capa-poster .grid{
    align-self: flex-start;
    justify-content: space-between;
}

#capa-poster {
    height: 700px;
    margin-right: 24px;
}

.grid li,
#about-movie li {
    list-style: none;
    margin-bottom: 16px;
}
.grid h2{
    display: inline-block;
}

.grid li img{
    height: 24px;
}

.link-disney li{
    list-style: none;
    display: block;
}

#classi{
    height: 40px;
}

.link-disney li img{
    height: 70px;
    width: 70px;
    object-fit: fill;
    border-radius: 15%;
}

.link-disney a{
    border: none;
}

#mike .circle1{
    position: absolute;
    border-radius: 0%;
    width: 500px;
    height: 800px;
    background-color: rgb(9, 109, 9);
    clip-path: circle(70% at bottom left);
    left: 0;
    bottom: 0;
    z-index: -1;
}

#mike{
    background-color: rgba(146, 206, 146, 0.363);
}

#mike h1,
#mike p,
#boo h1,
#boo P,
#about-movie h1,
#about-movie p,
#sulley h1,
#sulley p{
    text-align: center;
}

.paragrafo,
#about-movie .paragrafo2{
    border: 2px solid rgb(9, 109, 9);
    box-shadow: 6px 8px 20px rgba(0, 0, 0, 0.384);
    border-radius: 12px;
    padding: 12px;
}

.paragrafo #title-green{
    color: rgb(9, 109, 9);
    margin-bottom: 12px;
}

.right-photo{
    margin-left: 100px;
}

.left-photo {
    margin-right: 100px
}

#sulley .circle2{
    position: absolute;
    border-radius: 0%;
    width: 500px;
    height: 800px;
    background-color: rgb(60, 167, 167);
    clip-path: circle(70% at bottom right);
    right: 0;
    bottom: 0;
    z-index: -1;
}

.paragrafo #title-blue{
    color: rgb(60, 167, 167);
    margin-bottom: 12px;
}

#sulley .paragrafo{
    border: 2px solid rgb(60, 167, 167);
}

#sulley {
    background-color: rgba(60, 167, 167, 0.315);
}

#boo .circle3{
    position: absolute;
    border-radius: 0%;
    width: 500px;
    height: 800px;
    background-color: rgb(182, 43, 187);
    clip-path: circle(70% at bottom left);
    left: 0;
    bottom: 0;
    z-index: -1;
}

#boo .paragrafo{
    border: 2px solid rgb(182, 43, 187);
    margin-left: 70px;
}
.paragrafo #title-pink{
    color: rgb(182, 43, 187);
    margin-bottom: 12px;
}

#boo {
    background-color: rgba(229, 128, 145, 0.185);
}

.paragrafo #title-purple,
#about-movie .paragrafo2 h3,
#trailer h1{
    color: rgba(125, 39, 175, 0.582);
}

.paragrafo2 h3{
    font-family: 'Poppins', sans-serif;
}

#about-movie .paragrafo,
#about-movie .paragrafo2{
    border: 2px solid rgba(125, 39, 175, 0.582);
}

#about-movie .paragrafo2{
    margin-right: 580px;
}

#about-movie .paragrafo2 h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.trailer-block{
    display: flex;
    display: block;
    justify-content: space-between;
}

.trailer-block h1{
    text-align: center; 
}

footer p,
section p,
form input,
form textarea,
form button{
    font-family: 'Roboto', sans-serif;
}

#trailer{
    background-color: rgba(55, 55, 160, 0.329);
    align-items: flex-start;
}
iframe{
    box-shadow: 2px 12px 15px rgba(0, 0, 0, 0.479);
}

form{
    box-shadow: 3px 7px 18px rgba(0, 0, 0, 0.493);
}

section p{
    font-size: 20px;
    text-align: justify;
}

form h1,
form select,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 15px;
}

form button{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(125, 39, 175, 0.582);
    border: none;
}

form{
    border: 2px solid rgba(125, 39, 175, 0.582);
    border-radius: 8%;
    background-color: rgba(128, 128, 128, 0.288);
    padding: 8px;
}

form h1{
    padding: 0px;
    text-align: center;
}

form textarea{
    resize: none;
    height: 150px;
}

footer p{
    color: #fff;
}
