* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}

header,
footer {
    padding: 16px 0;
    background-color: black;
}

header .container img{
    height: 50px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li {
    display: inline-block;
    position: relative;
}

header nav li a{
    color:#fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
}

.dropdown-menu{
    position: absolute;
    left: 0;
    display: none;
}

header nav li a,
.dropdown-menu a{
    display: block;
    color: #fff;
    border: 1px solid black;
    padding: 10px;
    background-color: black;
    width: 150px;
}

.dropdown:hover .dropdown-menu{
    display: block;
    position: absolute;
    z-index: 999;
}

.dropdown-menu:hover #about-movie{
    z-index: -1;
}

header nav li a:hover,
.dropdown-menu li a:hover{
    background-color: #fff;
    color: black;
}

section {
    height: 500px;
    padding: 24px 0px;
    overflow: hidden;
    position: relative;
}

section .container{
    align-items: flex-start;
}

h2,
p {
    display: inline-block;
}

#about-movie{
    background-color: rgba(55, 55, 160, 0.329);
}

section h1,
section h2{
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}

section h1{
    margin-bottom: 24px;
}

section h2{
    font-size: 20px;
}

.container img{
    height: 400px;
}

.poster{
    max-width: 1280px;
    height: 800px;
    margin: 0 auto;
}

.capa-poster .grid{
    display: block;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
}

#capa-poster {
    height: 700px;
    margin-right: 24px;
}

.grid li {
    list-style: none;
    margin-bottom: 16px;
}

.grid li img{
    height: 24px;
}

.button{
    align-self: flex-end;
}

.button li,
.button2 li{
    list-style: none;
    display: block;
    display: flex;
}

#classi{
    height: 40px;
}

.button li img,
.button2 li img{
    height: 70px;
    width: 70px;
    object-fit: fill;
    border-radius: 5%;
}

.button button,
.button2 button{
    border: none;
    
}

#mike .circle1{
    position: absolute;
    border-radius: 0%;
    width: 500px;
    height: 800px;
    background-color: rgb(9, 109, 9);
    clip-path: circle(70% at bottom left);
    left: 0;
    bottom: 0;
    z-index: -1;
}

#mike {
    background-color: rgba(0, 128, 0, 0.178);
}

.right-photo{
    margin-left: 100px;
}

.left-photo {
    margin-right: 100px
}

#sulley .circle2{
    position: absolute;
    border-radius: 0%;
    width: 500px;
    height: 800px;
    background-color: rgb(60, 167, 167);
    clip-path: circle(70% at bottom right);
    right: 0;
    bottom: 0;
    z-index: -1;
}

#sulley {
    background-color: rgba(60, 167, 167, 0.315);
}

#boo .circle3{
    position: absolute;
    border-radius: 0%;
    width: 500px;
    height: 800px;
    background-color: rgb(182, 43, 187);
    clip-path: circle(70% at bottom left);
    left: 0;
    bottom: 0;
    z-index: -1;
}

#boo {
    background-color: rgba(229, 128, 145, 0.185);
}

.trailer-block{
    display: flex;
    display: block;
    justify-content: space-between;
}


.button2 li img{
    height: 70px;
    width: 70px;
    object-fit: fill;
    border-radius: 5%;
}

.trailer-block h1{
    text-align: center; 
}

footer p,
section p {
    font-family: 'Roboto', sans-serif;
}

#trailer{
    background-color: #fff;
    align-items: flex-start;
}
iframe{
    border: 16px solid rgba(156, 158, 158, 0.808);
}

section p{
    font-size: 20px;
    text-align: justify;
}

footer p{
    color: #fff;
}
